extends new_dashboard
block content
    #new_dashoboard_content.container.col-md-12.ml-sm-auto.col-lg-12.pt-3.pl-2.pr-3
        .d-flex.justify-content-between.mb-3
            h3.d-block.title #{title}
            button.btn.btn-outline-secondary#genba-select-modal-toggle 編集
        .row 
            .col-12.col-md-7
                .d-flex.justify-content-between.mb-3
                    a.btn.btn-primary.rounded-0.p-3.w-100(href="/dashboard/input_nippo/?nippoview=nav-nippo-tab" style="font-size: 2em;")
                        span
                            i.fas.fa-pencil-alt.mr-2 
                            | 業務日報
                    a.btn.btn-warning.rounded-0.p-3.w-100(href="/dashboard/input_nippo/?nippoview=nav-genbanippo-tab" style="font-size: 2em;") 
                        span
                            i.fas.fa-pencil-alt.mr-2 
                            | 現場日報
                .card.border-secondary.mb-3(style="width:100%")
                    .card-body.px-0.py-0
                        h5.px-2.pt-1.mb-0 業務日報カレンダー
                        .px-2.text-muted 
                            span 業務日報を更新すると業務日報カレンダーに表示されます。				
                            br 
                            span 日付をクリックすると、指定の日報入力画面へアクセスすることができます。				
                        div.px-2.d-xl-flex.d-block.mt-2
                            span.d-flex.mr-1
                                span.py-2.mr-1.work-days 出動 : 7.5日 
                                span.d-xl-flex.d-block
                                    select.period-list.globalselector.float-xl-none.float-right
                            button.btn.btn-outline-secondary.changePeriod.prev.mr-2.px-3.my-1.my-xl-0.ml-xl-2.ml-0
                                span(data-feather="chevrons-left")
                                span 前月へ
                            button.btn.btn-outline-secondary.changePeriod.next.ml-2.px-3.my-1.my-xl-0.float-xl-none.float-right(disabled)
                                span 翌月へ
                                span(data-feather="chevrons-right")
                        .calendar#calendar_nippo
                            .d-flex.justify-content-center(style="align-items:center;height:300px;")
                                .spinner-border(role="status")
                                    .sr-only ローディング...
            .col-12.col-md-5#chart-card-group
                .text-muted
                    span 指定した参照期間の現場日報を更新するとグラフで確認することができます。
                    br
                    span 編集ボタンからは表示させる現場を選ぶことができます。
                    br
                    span 現場名をクリックすると指定の現場入力画面へアクセスすることができます。"				
                for index in [0, 1, 2]
                    .card.border-secondary.mb-3(id=`new_dashboard_charts_group${index}` style="width:100%")
                        .card-body.px-0.py-0
                            span.d-flex.justify-content-between
                                a.h5.px-2.py-1(id=`genbaichart${index}` style="width: -webkit-fill-available;") ハンズトレーディング
                                span.d-flex.py-2.justify-content-end.mr-1(style="width: -webkit-fill-available;")
                                    // Adding chart-no attribute dynamically based on loop index
                                    input.chart-date.start.text-center(type="text" name="startDate" data-name="nippo" chart-no=`${index}` style="height:fit-content;width: 82px;padding-top:2px;padding-bottom:2px;border: gray solid 1px;border-radius:2px;background-color:#00bbff5e;")
                                    span.px-2(style="padding-top:2px;padding-bottom:2px;") ~
                                    input.chart-date.end.text-center(type="text" name="endDate" data-name="nippo" chart-no=`${index}` style="height:fit-content;width: 82px;padding-top:2px;padding-bottom:2px;border: gray solid 1px;border-radius:2px;background-color:#00bbff5e;")
                                    button.close.chart-close-btn.mx-2(chart-no=`${index}`)
                                        span(aria-hidden="true") &times;
                            canvas(id=`chart_group_item_${index}`)
        #genbaSelectModal.modal.fade.bd-example-modal-lg(tabindex="-1" role="dialog")
            .modal-dialog.modal-dialog-centered(role="document" style="max-width: 70%;")
                .modal-content
                    .modal-header
                        h5.modal-title 表示する現場のグラフを選択
                        button.close(data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    .modal-body
                        .row.d-md-flex.d-block(style="justify-content:space-between;")
                            .col-md-4.col-12
                                .sort-genba-list.d-flex.flex-column.sortable-genba-list
                            .col-md-2.col-12.d-flex
                                img(src="/image/arrow.png" alt="arrow" style="width: 100%;height:70%;width:100%; object-fit:fill;align-self: center;")
                            .col-md-5.col-12.selected-genba-list
                                div.d-flex.py-3
                                    span.selected-genba-number 1.
                                    span.sortable-genba-list.selected-item.border.p-3.mx-3.w-100(data-item="0")
                                div.d-flex.py-3
                                    span.selected-genba-number 2.
                                    span.sortable-genba-list.selected-item.border.p-3.mx-3.w-100(data-item="1")
                                div.d-flex.py-3
                                    span.selected-genba-number 3.
                                    span.sortable-genba-list.selected-item.border.p-3.mx-3.w-100(data-item="2") 
                    .modal-footer
                        button.btn.btn-primary#confirmModalBtn 確認
                        button.btn.btn-outline-secondary(data-dismiss="modal") キャンセル