doctype html
-
    // ** ************* **
    // ** Configuration **
    // ** ************* **
    // 
    // [ Comment out / Provide through model / Let's apply defaults ]
    // 
    // columns = 3;
    // startDate = new Date('07/04/2018'); // 'mm/dd/yyyy'
    // endDate = new Date('5/12/2021'); // 'mm/dd/yyyy'
    // 
    // ------------------------------------------------------------
    // ** ******************************* ** 
    // ** Language-related data (Catalan) ** 
    // ** ******************************* ** 
    const Months = ["January" , "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September" , "October" , "November" , "December"];
    const weekDays = [
        ["日", "Sunday"],    
        ["月", "Monday"],
        ["火", "Tuesday"],
        ["水", "Wednesday"],
        ["木", "Thursday"],
        ["金", "Friday"],
        ["土", "Saturday"],
    ];                                                                         
    // ------------------------------------------------------------
    // ** ********************** **
    // ** Defaults and ckeckings **
    // ** ********************** **
    const today = new Date();
    if (! columns) columns = 4;
    if (! realStartDate) realStartDate = new Date(preiodList[0].start);
    if (! realEndDate) realEndDate = new Date(preiodList[0].end);
html
  head
    title 株式会社堀健
    link(rel="shortcut icon" type="image/ico" href="/image/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='/css/nice-select.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    
    script(src='/js/jquery-3.6.0.min.js')
    script(src='/js/jquery.cookie.js')
    script(src="/js/jquery-ui.js")
    script(src='/js/popper.min.js ')
    script(src="/js/bootstrap.min.js")
    script(src="/js/feather.min.js")
    script(src='/js/jquery.onscreen.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/bootstrap-datepicker.ja.min.js')
    script(src="/js/bootstrap-timepicker.js")
    script(src="/js/jquery.autoKana.js")
    script(src="/js/plotly-2.1.0.min.js")
    script(src='/js/jquery.nice-select.min.js')
    script(src='/js/moment.js')
    script(src='/js/chart.js')
    script(src='/js/chartjs/MyChart.js')
    script(src='/js/script.js')
    script(src='/js/calendar.js')
    script(src="/js/flotchart/js/jquery.flot.js")
    script(src="/js/flotchart/js/jquery.flot.resize.js")
    script(src="/js/flotchart/js/jquery.flot.time.js")
    script(src="/js/flotchart/js/jquery.flot.categories.js")
    script(src="/js/flot.tooltip/js/jquery.flot.tooltip.js")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main#dashboard
      nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.bg-success.p-0.d-flex(style="border-bottom:none;justify-content: start;")
        a.navbar-brand.col-6.col-sm-5.col-md-4.col-lg-3.col-xl-2.mr-0(href='/') 株式会社堀健
        .px-0.d-lg-none.col-1
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#sidebarSupportedContent" aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle sidebar")
            span.navbar-toggler-icon
        ul.navbar-nav.px-3.flex-row.col-5.col-sm-6.col-md-7.col-lg-9.col-xl-10(style="justify-content: end;")
            li.nav-item.text-nowrap.bg-success.px-2
              a.text-white.nav-link.sm-translateY-5px(href=`/dashboard/settings/users/edit/${userID}`) 
                span.ico-sm.mr-1(data-feather='user')
                span.text-white.label-top.d-none.d-sm-inline-block 株式会社掘健
                span#userID.user-top.d-sm-inline-block.d-none(data-value=`${userID}`)
                span#userName.user-top.d-sm-inline-block.d-none(data-value=`${lname} ${fname}`)
                  span#lname #{lname}
                  span  
                  span#fname #{fname}
                  span 様
                  span#user-level.d-none(data-value=`${level}`) 
                  span#start-period.d-none(data-value=`${period_start}`) 
                  span#end-period.d-none(data-value=`${period_end}`) 
            li.nav-item.text-nowrap.px-2.text-right
                a.logout.nav-link.text-white(href='/users/logout') 
                  span.d-sm-inline-block.d-none ログアウト
                  span.ml-1.ico-sm(data-feather="log-out")
      div.d-lg-flex.d-block
        .collapse.navbar-collapse.d-lg-block.col-12.col-lg-3.col-xl-2.sticky-top.p-0#sidebarSupportedContent
          
          // Accordion for ダッシュボードメニュー
          div.menu-group
            .accordion#menuAccordionDashboard
              .card
                .card-header(id="headingDashboard")
                  h5.mb-0
                  button.btn.btn-link.collapsed(type="button", data-toggle="collapse", data-target="#collapseDashboard", aria-expanded="false", aria-controls="collapseDashboard")
                    i.fa.fa-tachometer.mr-2
                    | ダッシュボードメニュー
                #collapseDashboard.collapse(aria-labelledby="headingDashboard" data-parent="#menuAccordionDashboard")
                  .card-body
                    a.list-group-item(href="/dashboard/")
                      i.fa.fa-tachometer.mr-2
                      | ダッシュボード
                    a.list-group-item(href="/dashboard/input_nippo/")
                      i.fa.fa-pencil.mr-2
                      | 日報入力画面
                    a.list-group-item(href="/dashboard/daityou/")
                      i.fa.fa-wrench.mr-2
                      | 工事台帳
                    a.list-group-item.adminOnly(href="/dashboard/inoutcome/", style="display:none")
                      i.fa.fa-money.mr-2
                      | 入出金管理

          // Accordion for 日報一覧メニュー
          div.menu-group
            .accordion#menuAccordionReports
              .card
                .card-header(id="headingReports")
                  h5.mb-0
                  button.btn.btn-link.collapsed(type="button", data-toggle="collapse", data-target="#collapseReports", aria-expanded="false", aria-controls="collapseReports")
                    i.fa.fa-list-alt.mr-2
                    | 日報一覧メニュー
                #collapseReports.collapse(aria-labelledby="headingReports" data-parent="#menuAccordionReports")
                  .card-body
                    a.list-group-item(href="/dashboard/ichiran?type=nippo")
                      i.fa.fa-list-alt.mr-2
                      | 業務日報一覧
                    a.list-group-item(href="/dashboard/ichiran?type=genbanippo")
                      i.fa.fa-list-ul.mr-2
                      | 現場日報一覧
                    a.list-group-item.adminOnly(href="/dashboard/nippoichiranevery", style="display:none")
                      i.fa.fa-file-excel-o.mr-2
                      | CSV作成
                    a.list-group-item.adminOnly(href="/dashboard/nipposhukei", style="display:none")
                      i.fa.fa-bar-chart.mr-2
                      | 日報集計

          // Accordion for 設定メニュー
          div.menu-group
            .accordion#menuAccordionSettings
              .card
                .card-header(id="headingSettings")
                  h5.mb-0
                  button.btn.btn-link.collapsed(type="button", data-toggle="collapse", data-target="#collapseSettings", aria-expanded="false", aria-controls="collapseSettings")
                    i.fa.fa-cog.mr-2
                    | 設定メニュー
                #collapseSettings.collapse(aria-labelledby="headingSettings" data-parent="#menuAccordionSettings")
                  .card-body
                    a.list-group-item(href="/dashboard/settings/genba")
                      i.fa.fa-pencil-square-o.mr-2
                      | 現場情報編集
                    a.list-group-item(href="/dashboard/settings/company")
                      i.fa.fa-industry.mr-2
                      | 業者情報編集
                    a.list-group-item.adminOnly(href="/dashboard/settings/users", style="display:none")
                      i.fa.fa-users.mr-2
                      | ユーザ管理
                    a.list-group-item.adminOnly(href="/dashboard/settings/nippo", style="display:none")
                      i.fa.fa-clipboard.mr-2
                      | 日報設定
                    a.list-group-item.adminOnly(href="/dashboard/settings/genbastructure", style="display:none")
                      i.fa.fa-cogs.mr-2
                      | 現場設定
                    a.list-group-item.adminOnly(href="/dashboard/settings/global", style="display:none")
                      i.fa.fa-globe.mr-2
                      | 基本設定
                    a.list-group-item.adminOnly(href="/dashboard/settings/holiday", style="display:none")
                      i.fa.fa-calendar.mr-2
                      | カレンダー設定
                
        #preloader.position-fixed.bg-white.col-12.col-lg-9.col-xl(style="top: 0;bottom: 0;left: auto;right: 0;z-index: 999;padding-top:45vh;")
            .d-flex.justify-content-center
              .spinner-border(role="status")
                .sr-only ローディング...
        .col-12.col-lg-9.col-xl-10.container-fluid#mainContainer
          .row
            block content