doctype html
-
    // ** ************* **
    // ** Configuration **
    // ** ************* **
    // 
    // [ Comment out / Provide through model / Let's apply defaults ]
    // 
    // columns = 3;
    // startDate = new Date('07/04/2018'); // 'mm/dd/yyyy'
    // endDate = new Date('5/12/2021'); // 'mm/dd/yyyy'
    // 
    // ------------------------------------------------------------
    // ** ******************************* ** 
    // ** Language-related data (Catalan) ** 
    // ** ******************************* ** 
    const Months = ["January" , "February" , "March" , "April" , "May" , "June" , "July" , "August" , "September" , "October" , "November" , "December"];
    const weekDays = [
        ["日", "Sunday"],    
        ["月", "Monday"],
        ["火", "Tuesday"],
        ["水", "Wednesday"],
        ["木", "Thursday"],
        ["金", "Friday"],
        ["土", "Saturday"],
    ];                                                                         
    // ------------------------------------------------------------
    // ** ********************** **
    // ** Defaults and ckeckings **
    // ** ********************** **
    const today = new Date();
    if (! columns) columns = 4;
    if (! realStartDate) realStartDate = new Date(preiodList[0].start);
    if (! realEndDate) realEndDate = new Date(preiodList[0].end);
html
  head
    title 株式会社堀健
    link(rel="shortcut icon" type="image/ico" href="/image/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/css/bootstrap-timepicker.css')
    link(rel='stylesheet', href='/css/nice-select.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    
    script(src='/js/jquery-3.6.0.min.js')
    script(src='/js/jquery.cookie.js')
    script(src="/js/jquery-ui.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/feather.min.js")
    script(src='/js/jquery.onscreen.js')
    script(src='/js/bootstrap-datepicker.min.js')
    script(src='/js/bootstrap-datepicker.ja.min.js')
    script(src="/js/bootstrap-timepicker.js")
    script(src="/js/jquery.autoKana.js")
    script(src="/js/plotly-2.1.0.min.js")
    script(src='/js/jquery.nice-select.min.js')
    script(src='/js/moment.js')
    script(src='/js/chart.js')
    script(src='/js/script.js')
    script(src='/js/calendar.js')
    script(src="/js/flotchart/js/jquery.flot.js")
    script(src="/js/flotchart/js/jquery.flot.resize.js")
    script(src="/js/flotchart/js/jquery.flot.time.js")
    script(src="/js/flotchart/js/jquery.flot.categories.js")
    script(src="/js/flot.tooltip/js/jquery.flot.tooltip.js")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main#dashboard
      nav.navbar.navbar-expand-lg.navbar-dark.sticky-top.bg-success.p-0.d-flex(style="border-bottom:none;justify-content: start;")
        a.navbar-brand.col-6.col-sm-5.col-md-4.col-lg-3.col-xl-2.mr-0(href='/') 株式会社堀健
        .px-0.d-lg-none.col-1
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#sidebarSupportedContent" aria-controls="sidebarSupportedContent" aria-expanded="false" aria-label="Toggle sidebar")
            span.navbar-toggler-icon
        ul.navbar-nav.px-3.flex-row.col-5.col-sm-6.col-md-7.col-lg-9.col-xl-10(style="justify-content: end;")
            li.nav-item.text-nowrap.bg-success.px-2
              a.text-white.nav-link.sm-translateY-5px(href=`/dashboard/settings/users/edit/${userID}`) 
                span.ico-sm.mr-1(data-feather='user')
                span.text-white.label-top.d-none.d-sm-inline-block 株式会社掘健
                span#userID.user-top.d-sm-inline-block.d-none(data-value=`${userID}`)
                span#userName.user-top.d-sm-inline-block.d-none(data-value=`${lname} ${fname}`)
                  span#lname #{lname}
                  span  
                  span#fname #{fname}
                  span 様
                  span#user-level.d-none(data-value=`${level}`) 
                  span#start-period.d-none(data-value=`${period_start}`) 
                  span#end-period.d-none(data-value=`${period_end}`) 
            li.nav-item.text-nowrap.px-2.text-right
                a.logout.nav-link.text-white(href='/users/logout') 
                  span.d-sm-inline-block.d-none ログアウト
                  span.ml-1.ico-sm(data-feather="log-out")
      div.d-lg-flex.d-block
        .collapse.navbar-collapse.d-lg-block.col-12.col-lg-3.col-xl-2.sticky-top.bg-success.p-0.pt-4#sidebarSupportedContent
            
            a.new_dashboard-nav-link.mb-1(href="/dashboard/" data-value="nippo")
              span.link-title
                i.fa.fa-tachometer.mr-2 
                | ダッシュボード 
            a.new_dashboard-nav-link.mb-1(href="/dashboard/input_nippo/" data-value="nippo")
              span.link-title
                i.fa.fa-pencil.mr-2 
                | 日報入力画面

              //- new[monkey]
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/daityou/" data-value="nippo")
              span.link-title
                i.fa.fa-tachometer.mr-2 
                | 工事台帳
              //- new[monkey]
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/inoutcome/" data-value="nippo")
              span.link-title
                i.fa.fa-tachometer.mr-2 
                | 入出金管理

            a.new_dashboard-nav-link.mb-1(href="/dashboard/ichiran?type=nippo" data-value="nippo")
              span.link-title
                i.fa.fa-list.mr-2   
                | 業務日報一覧 
            a.new_dashboard-nav-link.mb-1(href="/dashboard/ichiran?type=genbanippo" data-value="nippo")
              span.link-title
                i.fa.fa-list.mr-2  
                | 現場日報一覧 
            a.new_dashboard-nav-link.mb-1.adminOnly(href="/dashboard/nippoichiranevery" data-value="nippo" style="display:none")
              span.link-title
                i.fa.fa-table.mr-2   
                | CSV作成
            a.new_dashboard-nav-link.mb-1.adminOnly(href="/dashboard/nipposhukei" data-value="nippo" style="display:none")
              span.link-title
                i.fa.fa-calculator.mr-2   
                | 日報集計 
            a.new_dashboard-nav-link.mb-1(href='/dashboard/settings/genba' data-value="nippo" )
              span.link-title
                i.fa.fa-edit.mr-2  
                | 現場情報編集 
            a.new_dashboard-nav-link.mb-1(href=`/dashboard/settings/company` data-value='receip')
              span.link-title
                i.fa.fa-building.mr-2   
                | 業者情報編集 

            
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/settings/users" data-value='receip')
              span.link-title
                i.fa.fa-users.mr-2
                | ユーザ管理
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/settings/nippo" data-value='receip')
              span.link-title 
                i.fa.fa-clipboard.mr-2
                | 日報設定
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/settings/genbastructure" data-value="nippo")
              span.link-title
                i.fa.fa-cogs.mr-2
                | 現場設定
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/settings/global" data-value='receip')
              span.link-title
                i.fa.fa-globe.mr-2
                | 基本設定
            a.new_dashboard-nav-link.mb-1.adminOnly(style="display:none" href="/dashboard/settings/holiday" data-value='receip')
              span.link-title
                i.fa.fa-calendar.mr-2
                | カレンダー設定
                
        #preloader.position-fixed.bg-white.col-12.col-lg-9.col-xl(style="top: 0;bottom: 0;left: auto;right: 0;z-index: 999;padding-top:45vh;")
            .d-flex.justify-content-center
              .spinner-border(role="status")
                .sr-only ローディング...
        .col-12.col-lg-9.col-xl-10.container-fluid#mainContainer
          .row
            block content